.article-001-1 {background-image:url('article-001-2.jpg'); width:550px; height:316px;}
.article-002-1 {background-image:url('article-002-2.jpg'); width:240px; height:184px;}
.article-002-2 {background-image:url('article-002-3.gif'); width:468px; height:242px;}
.article-003-1 {background-image:url('article-003-1.jpg'); width:250px; height:279px;}
.article-003-2 {background-image:url('article-003-2.jpg'); width:600px; height:324px;}
.article-006-1 {background-image:url('article-006-2.jpg'); width:600px; height:358px;}
.article-006-2 {background-image:url('article-006-3.jpg'); width:600px; height:300px;}
.article-008-1 {background-image:url('article-008-2.jpg'); width:20px;  height:20px;}
.article-009-1 {background-image:url('article-009-1.jpg'); width:250px; height:237px;}
.article-007-1 {background-image:url('article-007-2.gif'); width:200px; height:186px;}
.article-010-1 {background-image:url('article-010-2.jpg'); width:198px; height:200px;}
.article-011-1 {background-image:url('article-011-1.gif'); width:466px; height:242px;}
.article-012-1 {background-image:url('article-012-4.jpg'); width:250px; height:199px;}
.article-012-2 {background-image:url('article-012-5.jpg'); width:20px;  height:20px;}
.article-012-3 {background-image:url('article-012-6.jpg'); width:20px;  height:20px;}
.article-013-1 {background-image:url('article-013-1.jpg'); width:300px; height:249px;}
.article-013-2 {background-image:url('article-013-3.jpg'); width:600px; height:324px;}
.article-014-1 {background-image:url('article-014-3.jpg'); width:250px; height:152px;}
.article-014-2 {background-image:url('article-014-4.jpg'); width:600px; height:358px;}
.article-015-1 {background-image:url('article-015-2.jpg'); width:250px; height:197px;}
.article-015-2 {background-image:url('article-015-3.jpg'); width:400px; height:287px;}
.article-017-1 {background-image:url('article-017-3.jpg'); width:200px; height:249px;}
.article-017-2 {background-image:url('article-017-4.jpg'); width:600px; height:222px;}
.article-019-1 {background-image:url('article-019-2.jpg'); width:600px; height:348px;}
.article-020-1 {background-image:url('article-020-1.gif'); width:371px; height:276px;}
.article-071-1 {background-image:url('article-071-2.jpg'); width:202px; height:273px;}
.article-072-1 {background-image:url('article-072-3.jpg'); width:600px; height:293px;}
.article-072-2 {background-image:url('article-072-4.jpg'); width:582px; height:287px;}
.article-073-1 {background-image:url('article-073-4.jpg'); width:600px; height:296px;}
.article-073-2 {background-image:url('article-073-5.jpg'); width:519px; height:282px;}
.article-073-3 {background-image:url('article-073-6.jpg'); width:577px; height:293px;}
.article-074-1 {background-image:url('article-074-4.jpg'); width:598px; height:302px;}
.article-074-2 {background-image:url('article-074-5.jpg'); width:598px; height:287px;}
.article-074-3 {background-image:url('article-074-6.jpg'); width:600px; height:275px;}
.article-075-1 {background-image:url('article-075-4.jpg'); width:600px; height:290px;}
.article-075-2 {background-image:url('article-075-5.jpg'); width:513px; height:280px;}
.article-075-3 {background-image:url('article-075-6.jpg'); width:550px; height:284px;}
.article-081-1 {background-image:url('article-081-1.jpg'); width:600px; height:125px;}
.article-082-1 {background-image:url('article-082-3.jpg'); width:600px; height:323px;}
.article-082-2 {background-image:url('article-082-4.jpg'); width:600px; height:429px;}
.article-084-1 {background-image:url('article-084-2.jpg'); width:600px; height:321px;}
.article-084-2 {background-image:url('article-084-3.jpg'); width:540px; height:498px;}
.article-097-1 {background-image:url('article-097-2.jpg'); width:600px; height:410px;}
.article-098-1 {background-image:url('article-098-3.jpg'); width:120px; height:99px;}
.article-098-2 {background-image:url('article-098-4.jpg'); width:600px; height:493px;}
.article-079-1 {background-image:url('article-079-2.jpg'); width:200px; height:251px;}
.article-079-2 {background-image:url('article-079-3.jpg'); width:600px; height:287px;}
.article-080-1 {background-image:url('article-080-1.jpg'); width:200px; height:278px;}
.article-080-2 {background-image:url('article-080-2.jpg'); width:600px; height:385px;}
.article-099-1 {background-image:url('article-099-2.jpg'); width:600px; height:223px;}
.article-100-1 {background-image:url('article-100-1.jpg'); width:600px; height:262px;}
.article-101-1 {background-image:url('article-101-2.jpg'); width:425px; height:508px;}
.article-102-1 {background-image:url('article-102-2.jpg'); width:600px; height:481px;}
.article-111-1 {background-image:url('article-111-1.jpg'); width:200px; height:200px;}
.article-111-2 {background-image:url('article-111-3.jpg'); width:600px; height:313px;}
.article-112-1 {background-image:url('article-112-2.jpg'); width:200px; height:186px;}
.article-113-1 {background-image:url('article-113-2.jpg'); width:600px; height:422px;}
.article-114-1 {background-image:url('article-114-2.jpg'); width:255px; height:210px;}
.article-115-1 {background-image:url('article-115-3.jpg'); width:600px; height:382px;}
.article-115-2 {background-image:url('article-115-4.jpg'); width:600px; height:569px;}
.article-116-1 {background-image:url('article-116-2.jpg'); width:200px; height:142px;}
.article-117-1 {background-image:url('article-117-2.jpg'); width:400px; height:613px;}
.article-118-1 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-118-1.jpg'); width:600px; height:422px;}
.article-119-1 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-119-1.jpg'); width:600px; height:436px;}
.article-120-1 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-120-1.jpg'); width:600px; height:318px;}
.article-121-1 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-121-1.jpg'); width:600px; height:349px;}
.article-121-2 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-121-2.jpg'); width:600px; height:349px;}
.article-122-1 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-122-1.jpg'); width:600px; height:253px;}
.article-123-1 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-123-1.jpg'); width:200px; height:300px;}
.article-124-1 {background-image:url('http://static.fmgsuite.com/site/templates/global/img/assets/article-124-1.jpg'); width:600px; height:415px;}



/*unquie article elements*/
.article-008 th,
.article-012 th,
.article-017 th,
.article-008 td,
.article-012 td, 
.article-017 td             {padding:10px;}
.article-008 td,
.article-012 td,
.article-017 td             {border-bottom:1px solid #eee;}
.article-008 td:first-child,
.article-012 td:first-child,
.article-017 td:first-child {font-weight:bold; border-right:1px solid #eee;}

.focusBox {border-top:1px solid #999; border-bottom:1px solid #999; width:530px; padding:0 0 10px; margin:30px 0 30px 45px;}